### Laravel ###
/vendor
/node_modules
npm-debug.log
yarn-error.log

bootstrap/compiled.php
app/storage/

/public/build
/public/hot
/public/storage

public_html/storage
public_html/hot
/storage/*.key

auth.json
.phpactor.json

.env
.env.backup
.env.production

Homestead.json
Homestead.yaml

/.phpunit.cache
.phpunit.result.cache

/.vagrant
/.fleet
/.idea
/.vscode
