@media (min-width: 768px) {
    button.btn:not(:last-child),
    a.btn:not(:last-child) {
        margin-right: 0.5rem !important;
    }
}

button > i,
h3 > i,
a > i {
    margin-right: 0.5rem !important;
}

.card-pointer {
    cursor: pointer;
}
