.custom-navbar {
    border-radius: 8px;
    padding: 1rem;
    background-color: transparent !important;
}

.custom-nav {
    display: flex;
    gap: 1.5rem;
    flex-direction: row;
}

.custom-nav-link {
    font-size: 1.1rem;
    font-weight: 500;
    color: #555;
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: 5px;
}

@media (max-width: 768px) {
    .custom-nav {
        flex-direction: row;
        gap: 0.5rem;
    }
}

.custom-nav-link.active {
    color: #fff !important;
    background-color: #007bffce;
}

.custom-nav-link:hover {
    color: #007bff !important;
}

.custom-nav-link:focus {
    outline: none;
    box-shadow: none;
    color: white!important;
}
