.diet-table {
    width: 100%;
    font-size: 1.1em;
    text-align: center;
}

.time-header,
.day-header {
    background-color: #198754 !important;
    color: white !important;
    font-weight: bold;
    padding: 10px;
}

.time-cell {
    background-color: #e0f7fa;
    font-weight: bold;
    color: #198754 !important;
    width: 8%;
    border: 1px solid #ddd !important;
}

.meal-cell {
    background-color: #ffffff;
    border: 1px solid #ddd !important;
    height: 100px;
    width: 42%;
    transition: background-color 0.3s ease;
    font-size: 0.8em;
    color: #333 !important;
}

.meal-cell-itens {
    background-color: #ffffff;
    border: 1px solid #ddd !important;
    height: 100px;
    width: 8%;
    transition: background-color 0.3s ease;
    font-size: 0.8em;
    color: #333 !important;
}

.meal-cell:hover {
    background-color: #e8f5e9;
    cursor: pointer;
}

.card-hover {
    transition: box-shadow 0.3s ease;
    border: 1px solid #ddd;
}

.card-hover:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
}
